{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in object_list %}
          <div class="post-preview">
            <a href="{% url 'post-detail' post.slug %}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ post.body | safe }}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Viktor Villalobos</a>
              {{ post.published }}</p>
          </div>
        {% endfor %}
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
{% endblock %}
