{% extends 'blog/base.html' %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}
{% block subtitle %}{{ object.subtitle }}{% endblock %}
{% block content %}
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <article>
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                  {{ object.body }}
                </div>
              </div>
            </div>
          </article>

        </div>
      </div>
  </article>

{% endblock %}
