@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed|Ubuntu+Mono');

body {
    font-family: "Ubuntu", Courier, monospace;
}

.menu li {
    display: inline;
}

.footer {
    position: absolute;
    bottom: 0;
}
